{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container">
    <h1 style="line-height: 2.6">
        Congratulation!
    </h1>
    <p style="padding-top:15px;">Your PDF file is coverted to Word (.docx) file successfully!</p>

    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button class="convert-btn"><i class="fa fa-download"></i>&nbsp;Download</button>
    </form>
</div>

{% endblock %}