{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container">
    <h1>
        PDF to Word Converter
    </h1>
    <p>Convert your PDF document to Word Document with perfect accuracy!</p>
    <form action="pdf2word" method="POST" enctype="multipart/form-data">
        <div class="frame">
            <label for="images" class="drop-container">
                <span class="drop-title">Drop PDF files here</span>
                or
                <input type="file" name="filename" id="images" accept="application/pdf" required>
            </label>
            <input class="convert-btn" type="submit" value="Convert Now (to Docx)">
        </div>

    </form>

    <amp-ad width="100vw" height="320"
     type="adsense"
     data-ad-client="ca-pub-4104255173257246"
     data-ad-slot="9618289707"
     data-auto-format="rspv"
     data-full-width="">
    <div overflow=""></div>
    </amp-ad>

</div>


{% endblock %}